body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv{
  background-color:white;
  color: black;
  width: 400px;
  height: 800px;
  padding: 20px;
  justify-content: center;
  border-radius: 25px;

}
label {
    width: 100px;
    display: inline-block;
}


