body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
p {text-align: left;}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    
}
label {
    width: 100px;
    display: inline-block;
    margin-left: 50px;
}

button {
    margin-left: 50px;
}

p {
    margin-left: 50px;
}

mark {
    background-color:yellow;
}
.wrapper {
	position: absolute;
        display:flex;
	top: 25%;
        left: 25%;
}
